@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?trxq97');
  src:  url('fonts/icomoon.eot?trxq97#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?trxq97') format('truetype'),
    url('fonts/icomoon.woff?trxq97') format('woff'),
    url('fonts/icomoon.svg?trxq97#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chillhopIcon:before {
  content: "\e900";
}
.icon-classicalIcon .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-classicalIcon .path2:before {
  content: "\e902";
  margin-left: -0.408203125em;
  color: rgb(0, 0, 0);
}
.icon-classicalIcon .path3:before {
  content: "\e903";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path4:before {
  content: "\e904";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path5:before {
  content: "\e905";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path6:before {
  content: "\e906";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path7:before {
  content: "\e907";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path8:before {
  content: "\e908";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path9:before {
  content: "\e909";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path10:before {
  content: "\e90a";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path11:before {
  content: "\e90b";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path12:before {
  content: "\e90c";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path13:before {
  content: "\e90d";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path14:before {
  content: "\e90e";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path15:before {
  content: "\e90f";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path16:before {
  content: "\e910";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}
.icon-classicalIcon .path17:before {
  content: "\e911";
  margin-left: -0.408203125em;
  color: rgb(22, 22, 22);
}

