<title>Calmadoro</title>
<div class="row">
  <div class="aboutHeader">Team Calmadoro</div>
  <div class="aboutSubheader">Calmadoro is a Pomodoro timer that plays you calm music while you work.</div>
  <div class="aboutSubheader">The Pomodoro Technique is a time management method developed by Francesco Cirillo in the late 1980s. The idea is to use time to motivate yourself, eliminate burnout, manage distractions, reduce back pain and generally to maintain a healthy work-life balance by not getting sucked into your computer screen for an indefinite amount of time.</div>
</div>

  <div class="iconRow row">

    <div class="profileContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="marthaImage"> </div>
        <p class="splashIconHeader">Martha Bernal</p>
        <div class="profileIconRow">

        <a href="https://il.linkedin.com/in/marthaebernal" target="blank" class="linkedinIcon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>

        <a href="https://github.com/maitabe" target="blank" class="githubIcon">
        <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        </div>

        <p class="profileDesc">Martha is a Front-End Developer living in Tel Aviv, and her favorite Calmadoro flavor is ‘Nature’. She is a huge fan of Angular, D3, UI/UX Design and is passionate about products that can help people.</p>
    </div>

    <div class="profileContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="benImage"> </div>
      <p class="splashIconHeader">Ben Kapon</p>
        <div class="profileIconRow">

        <a href="https://www.linkedin.com/in/ben-kapon-683332119" target="blank" class="linkedinIcon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>

        <a href="https://github.com/benjkn" target="blank" class="githubIcon">
        <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        </div>

        <p class="profileDesc">Ben will kick your butt if you don't relax. But seriously, Ben is really enthusiastic about Greek food, Front-End Development and helping to debug the Calmadoro Team's Javascript issues. His favorite Calmadoro flavor is Chillhop.</p>
    </div>

     <div class="profileContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
       <div class="daveImage"> </div>
       <p class="splashIconHeader">Dave Orian</p>
        <div class="profileIconRow">

        <a href="https:/www.linkedin.com/in/daveorian" target="blank" class="linkedinIcon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>

        <a href="https://github.com/dave4534" target="blank" class="githubIcon">
        <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        </div>

        <p class="profileDesc">Dave is a UI/UX Designer living in Tel Aviv. His favorite Calmadoro flavor is Zen, and when he is not relaxing while working he is thinking about eating some K'nafe. Who is he kidding, he is always thinking about eating K'nafe!</p>
     </div>

  </div>



<!-- footer -->

<div class="calmadoroNav row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <div class="navAbout"><a href="#/home" >Calmadoro Home</a></div>
  </div>
</div>