<div class="row">
  <div class="modeContainer">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="modebtn" id="work" ng-click="modeWorkBreak('Work');" style={{wstyle}}>
        WORK MODE
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="modebtn" id="rest" ng-click="modeWorkBreak('Break');" style={{bstyle}}>
        BREAK MODE
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <img src="images/logo.png" class="logo" >
</div>

<div class="row">
  <div class="timer">
    {{counterSec}}
  </div>
</div>

<div class="row">
  <div class="suggested-time">

    <div class="time-for-work" ng-show="(mode === 'Break')">

      <div class="suggestions push" ng-repeat="min in breakMin" ng-click="setTimeTo(min*60)"> {{min}}</div>

      <span class="suggestions " ng-show=customMin>
        <input class="customMins" type="number" placeholder="Time in mins" ng-model="usersMinutes">

        <button class="btn btn-primary goButton" ng-click="setTimeTo(usersMinutes*60)" data-ng-model="clearMin">Go</button>

      </span>
    </div>

    <div class="time-for-break" ng-show="(mode === 'Work')">
      <div class="suggestions" ng-repeat="min in workMin" ng-class="{'last': $last}"ng-click="setTimeTo(min*60)"> {{min}}</div>
      <span class="suggestions" ng-show=customMin>
        <input class="customMins" type="number" placeholder="Time in mins" ng-model="usersMinutes">

        <button class="btn btn-primary btn-fnt goButton" ng-click="setTimeTo(usersMinutes*60)">Go</button>

      </span>
    </div>

  </div>
</div>

<div class="row">
  <div class="buttonContainer">
    <button class="timerButton btn-shadow" ng-click="startStop()">{{togglingButton}}</button>
    <button class="timerButton btn-shadow" ng-click="resetTimer()">Reset</button>
  </div>
</div>

<!-- <div class="row">
  <div class="modeContainer">

    <button class="modebtn" id="work" ng-click="modeWorkBreak('Work');" style={{wstyle}}>
      WORK
    </button>

    <button class="modebtn" id="rest" ng-click="modeWorkBreak('Break');" style={{bstyle}}>
      BREAK
    </button>
  </div>
</div> -->


<!-- **********BINDING BUTTON v0.0.1********** -->
<!-- <div class="bindRow">
  <p class="bindingBtn">
    Clock-Music bind:
  </p>
  <button ng-click="bindingBtn()">
    {{onoff}}
  </button>
</div> -->
<!--
  <div ui-view></div> -->

<!-- <div class="music-source-container">
  <button class="music-source-button" ui-sref="home.spotify" ng-click="musicstyle('Spotify');" style={{spotStyle}}>
    Spotify
  </button>
  <button class="music-source-button" ui-sref="home.youtube" ng-click="musicstyle('Youtube');" style={{youStyle}}>
    Youtube
  </button>
</div> -->

<div class="row flavorRow">


  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">


      <!-- Front (Flavor Icon + Title) -->
      <div class="front">
        <div class="iconContainer">
          <div class="chillhopIcon"> <img src="images/chillhopIcon.svg"></div>
        </div>
        <div class="flavorTitle">Chillhop</div>
      </div>

      <div class="back">
         <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/PxWYNqeWqyY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
      <!-- Front (Flavor Icon + Title) -->
      <div class="front">
        <div class="iconContainer">
          <div class="chillhopIcon"> <img src="images/zen.svg"></div>
        </div>
        <div class="flavorTitle">Zen</div>
      </div>

      <div class="back">
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S7JcGThpR4E" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
      <!-- Front (Flavor Icon + Title) -->
      <div class="front">
        <div class="iconContainer">
          <div class="chillhopIcon"> <img src="images/classical.svg"></div>
        </div>
        <div class="flavorTitle">Classical</div>
      </div>

      <div class="back">
         <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/ysoi7Aw-snM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
      <!-- Front (Flavor Icon + Title) -->
      <div class="front">
        <div class="iconContainer">
          <div class="chillhopIcon"> <img src="images/nature.svg"></div>
        </div>
        <div class="flavorTitle">Nature</div>
      </div>

      <div class="back">
         <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/JT-Cmgm3Rp0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>