<div class="row">
  <div class="timer">
    {{counterSec}}
  </div>
</div>

<div class="row">
  <div class="suggested-time">

    <div class="time-for-work" ng-show="(mode === 'Break')">

      <div class="suggestions" ng-repeat="min in breakMin" ng-click="setTimeTo(min*60)"> {{min}}</div>

      <span class="suggestions" ng-show=customMin>
        <input class="customMins" type="number" placeholder="Time in mins" ng-model="usersMinutes">
        <button class="btn btn-primary" ng-click="setTimeTo(usersMinutes*60)">Go</button>
      </span>
    </div>

    <div class="time-for-break" ng-show="(mode === 'Work')">
      <div class="suggestions" ng-repeat="min in workMin" ng-click="setTimeTo(min*60)"> {{min}}</div>
      <span class="suggestions" ng-show=customMin>
        <input class="customMins" type="number" placeholder="Time in mins" ng-model="usersMinutes">
        <button class="btn btn-primary" ng-click="setTimeTo(usersMinutes*60)">Go</button>
      </span>
    </div>

  </div>
</div>

<div class="row">
  <div class="buttonContainer">
    <button class="button" ng-click="startStop()">{{togglingButton}}</button>
    <button class="button" ng-click="resetTimer()">Reset</button>
  </div>
</div>

<div class="row">
  <div class="modeContainer">

    <button class="modebtn" id="work" ng-click="modeWorkBreak('Work');" style={{wstyle}}>
      WORK
    </button>

    <button class="modebtn" id="rest" ng-click="modeWorkBreak('Break');" style={{bstyle}}>
      BREAK
    </button>
  </div>
</div>


<!-- **********BINDING BUTTON v0.0.1********** -->
<!-- <div class="bindRow">
  <p class="bindingBtn">
    Clock-Music bind:
  </p>
  <button ng-click="bindingBtn()">
    {{onoff}}
  </button>
</div> -->

<div ui-view></div>

<div class="music-source-container">
  <button class="music-source-button" ui-sref="home.spotify" ng-click="musicstyle('Spotify');" style={{spotStyle}}>
    Spotify
  </button>
  <button class="music-source-button" ui-sref="home.youtube" ng-click="musicstyle('Youtube');" style={{youStyle}}>
    Youtube
  </button>
</div>

<div class="row flavorRow">

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 flavor">
    <div class='flavorContainer back'>
      <div class="iframe iconContainer">
        <iframe width="160" height="160" src="https://www.youtube.com/embed/UfFqiNLpK-Y" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flavorContainer front">
      <div class="iconContainer">
        <div class="chillhopIcon"> <img src="images/chillhopIcon.svg"></div>
      </div>
      <div class="flavorTitle">Chillhop</div>
    </div>
  </div>


  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 flavor">
    <div class='flavorContainer back'>
      <div class="iframe iconContainer">
        <!-- 8 HOURS Classical Music for Sleeping: Relaxing Piano Music Mozart, Debussy, Chopin, Schubert, Grieg -->
        <iframe width="160" height="160" src="https://www.youtube.com/embed/Fnzn-3oXEUI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flavorContainer front">
      <div class="iconContainer">
        <div class="chillhopIcon"> <img src="images/chillhopIcon.svg"></div>
      </div>
      <div class="flavorTitle">Classical</div>
    </div>
  </div>


  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 flavor">
    <div class='flavorContainer back'>
      <div class="iframe iconContainer">
        <!-- Relax 8 Hours of Birds Singing and Water Sounds-Nature Sound Relaxation-Relaxing Birdsong -->
        <iframe width="160" height="160" src="https://www.youtube.com/embed/PwSHOI7DwWM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flavorContainer front">
      <div class="iconContainer">
        <div class="chillhopIcon"> <img src="images/chillhopIcon.svg"></div>
      </div>
      <div class="flavorTitle">Nature</div>
    </div>
  </div>


  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 flavor">
    <div class='flavorContainer back'>
      <div class="iframe  iconContainer">
        <!-- 3 HOURS of Relaxing Music | Zen Garden | Sleep Music for Spa, Meditation, Therapy -->
        <iframe width="160" height="160" src="https://www.youtube.com/embed/BgjmhbkPVAI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="flavorContainer front">
      <div class="iconContainer">
        <div class="chillhopIcon"> <img src="images/chillhopIcon.svg"></div>
      </div>
      <div class="flavorTitle">Zen</div>
    </div>
  </div>












<!-- <div class="wrapBox">



  <a href="#" class="front">
    <div class="wBTop">
        <img src="img/CB-JP-face.png">
        <blockquote> BTC, a full-service provider in the Bahamas, depends on Comverse solut...
        </blockquote>
    </div>
    <div class="wBbelow">
      <div>
        <p> <cite> Jonathan Pierce </cite> </p>
        <p> Group Mobile Architect</p>
      </div>
      <img src="img/cable_wireless_w100px_X_h42px2.jpg">
    </div>
  </a>



  <a href="#" class="back">
    <div class="wBTop">
        <blockquote> BTC, a full-service provider in the Bahamas, depends on Comverse solut...
        </blockquote>
    </div>
  </a>



</div> -->























</div>