@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Glegoo');
@import url('http://allfont.net/allfont.css?fonts=montserrat-light');

* {
  text-decoration: none;
}

*:hover {
  text-decoration: none;
}

body {
/*  width: 100%;
  height: 100%;*/
  margin: 0 !important;
  padding: 0 !important;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.calmadoroNav {
    position: relative;
    bottom: -250px;
    left: 0px;
}

.navAbout {
color: white;
    text-transform: uppercase;
    font-family: montserrat-light;
    letter-spacing: .1em;
    text-align: center;
        margin-left: 70px;
    margin-bottom: 10px;
}

.navAbout>a {
  color: white;
}

.navAbout>a:hover {
  text-decoration: none;
}

.bgImage {
/*  background: url(https://images.unsplash.com/photo-1469353680598-5dc830efef5c?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=);
*//*  width: 100%;
  height: 900px;*/
    background: url(images/bg.jpeg);

   background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
    min-height: 1000px;
}

.logo {
  background: url(images/logo.png);
  width: 350px;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

.timer {
  color: white;
  font-family: 'Glegoo', serif;
  font-size: 8em;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 1.3rem rgba(0,0,0,0.10);
}

.buttonContainer {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.timerButton {
  color: white;
  width: 14%;
  height: 45px;
  font-size: 1.1em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color: #f37854;
  letter-spacing: .08em;
  border-radius: 8px;
  outline: none;
  border:none;
  margin-left: 5px;
  margin-right: 5px;
}

/*.button:hover {
  background-color: #f3967c;
}*/

.modeContainer {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  padding: 20px;
}

.modeContainer a {
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

.musicPlayerBox {
  width: 40%;
  margin: 0 auto;
  margin-top: 28px;
  border-radius: 8px;
}

.playerHeader {
  text-align: center;
  color: gray;
  font-family: 'Montserrat Light';
  font-size: 1.6em;
  letter-spacing: .1em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.modebtn {
    color: white;
    width: 100%;
    height: 45px;
    font-size: 1.1em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: .08em;
    border-radius: 3px;
    outline: none;
    padding-top: 11px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;

}

.modebtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px transparent;
}


/*.modebtn:active {
  border: 3px solid grey;
}*/

.music-source-container {
  text-align: center;
  margin-top: 20px;
}

.music-source-button {
  color: grey;
  font-size: .8em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color:transparent;
  letter-spacing: .08em;
  border-radius: 3px;
  outline: none;
  border: .5px solid grey;
  margin-left: 3px;
  margin-right: 3px;
  width: 11%;
  height: 30px;
  display: inline-block;
}

.music-source-button:hover {
  border: 2px solid grey;
}

.footer {
  /*position: absolute;*/
  bottom: -180px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}

.footerContainer {
    width: auto;
    max-width: 680px;
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}

.footerContainer a {
  text-decoration: none;
  color:black;
  margin: 0 auto;
}

.footerContainer a:hover {
  text-decoration: none;
  color:grey;
}

.text-muted {
    color: grey!important;
}


.btn-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 120%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.btn-shadow:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-shadow:hover:before {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}



/*media queries*/
@media (max-width: 700px) {
  .button {
    width: 20%;
    font-size: 1em;
  }
/*  .modebtn {
    width: 17%;
    font-size: .9em;
  }*/
  .timer {
    font-size: 6em;
    margin-bottom: 10px;
  }
  .logo {
    width: 250px;
  }
  .playerHeader {
    font-size: 1.2em;
  }
  .music-source-button {
    width: 22%;
  }
}

.suggestions {
    margin: 3px;
    display: inline-block;
    font-family: 'Glegoo', serif;
    text-transform: uppercase;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 22px;
    font-size: 1em;
    letter-spacing: .07em;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.suggestions:hover {
  cursor: pointer;
}

.suggested-time {
  margin: -40px 0 23px 0;
  text-align: center;
}


.customMins {
  font-family: 'Glegoo', serif;
  text-indent: 10px;
}

.btn-fnt {
  font-family: 'Montserrat';
}

.flavorRow {
    margin: 0 auto;
    max-width: 810px;
    margin-top: 30px;
}

.iconContainer {
  width: 100%;
  height: 90px;
}

.flavorTitle {
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  letter-spacing: .06em;
    margin-top: 22px;
}

.chillhopIcon {
    width: 87px;
    margin: 0 auto;
    padding: 29px 0 0 0;
}

.zenIcon {
    width: 87px;
    margin: 0 auto;
    padding: 29px 0 0 0;
}

.classicalIcon {
  display: block;
  height: 80px;
}

.flavorContainer {
    height: 160px;
    width: 160px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.front {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform .75s;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
}
.back {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

iframe {
  border-radius: 7px;
}

.flavorContainer:hover .front {
  cursor: pointer;
  transform: translateY(-160px);
}

.aboutHeader {
      color: #ffffff;
    font-size: 3.9em;
    text-align: center;
    display: inherit;
  font-family: 'Montserrat-light';
    line-height: 1.2em;
    padding-top: 50px;
        margin: 0 0 20px;
}

.aboutSubheader {
    font-size: 1.25em;
    text-align: center;
    display: inherit;
    font-family: 'Montserrat-light';
    font-weight: 100;
    line-height: 1.4em;
    letter-spacing: .04em;
    padding: 2px 35px;
    margin: 0 76px;
}

.iconRow  {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.profileContainer {
  display: inline-block;
  margin: 35px 0 0 0;
}

.splashIconHeader {
    color: #444444;
  font-family: 'Montserrat';
    font-size: 1.3em;
    margin: 1em 2em 0 2em;
    text-align: center;
    letter-spacing: .05em;
}

.marthaImage{
    width: 180px;
    height: 180px;
    border-radius: 500px;
    background-image: url(../images/martha.png);
    margin: 0 auto;
}

.daveImage{
    width: 180px;
    height: 180px;
    border-radius: 500px;
    background-image: url(../images/dave.png);
    margin: 0 auto;
}

.benImage{
    width: 180px;
    height: 180px;
    border-radius: 500px;
    background-image: url(../images/ben.png);
    margin: 0 auto;
}

.profileDesc {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Montserrat';
    margin: 4px 7%;
    letter-spacing: .04em;
    line-height: 1.5em;
}

.profileIconRow {
  margin: 0 auto;
  text-align: center;
/*  border: 1px solid green;*/
  max-width: 200px;
}

.linkedinIcon {
    font-size: 1.6em;
    margin: 10px;
}

.githubIcon {
  font-size: 1.6em;
  margin: 10px;
}

.linkedInIcon:hover {
  text-decoration: none;
}



/*Media Queries Begin Here*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

.modebtn {
  font-size: 2.3em;
  padding-bottom: 60px;
  padding-top: 19px;
}

.logo {
  width: 580px;
}

/*Not sure this is the best way to execute full screen on mobile*/
.bgImage {
  min-height: 1600px;
}

.timer {
  font-size: 14em;
}

.suggestions {
  padding: 14px 28px;
  font-size: 2em;
}

.goButton {
  height: 70px;
  width: 140px;
  border-radius: 11px;
  font-size: .8em;
}

.timerButton {
  width: 34%;
  height: 84px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  font-size: 2.6em;
}

.buttonContainer {
    margin-bottom: 53px;
}

.flavorContainer {
    width: 100% !important;
    height: 331px !important;
    box-shadow: 0 0 0rem rgba(0,0,0,0);
    margin-bottom: 50px !important;
}

.flavorTitle {
  font-size: 3em;
  margin-top: 153px;
}

.chillhopIcon {
  width: 214px;
  padding: 49px 0 0 0;
}

.flavorContainer:hover .front {
  cursor: pointer;
  transform: translateY(-331px);
}

.suggested-time {
    margin: -20px 0 30px 0;
}

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 990px)
and (min-width : 490px) {

.flavorContainer {
    height: 160px;
    width: 300px;
    margin-bottom: 20px;
}

.timer {
  margin-bottom: 40px;
}

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}