
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
    <span class="glyphicon glyphicon-remove" ng-click="stopMusic()" ng-hide="removing"></span>
      <div class="frontFlavor coverChillhop" ng-class="{'effect': 'chillhop' ===  selectedMusic}" ng-click="addEffect(event, 'chillhop', 'https://www.youtube.com/embed/xBJrF4WNsNQ?autoplay=1')">
      </div>
      <div class="back">
        <iframe  ng-src="{{getUrl('chillhop')}}" width="100%" height="92%"  frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
    <span class="glyphicon glyphicon-remove" ng-click="stopMusic()" ng-hide="removing"></span>
      <div class="frontFlavor coverZen" ng-class="{'effect': 'zen' ===  selectedMusic}" ng-click="addEffect(event, 'zen', 'https://www.youtube.com/embed/S7JcGThpR4E?autoplay=1')">
      </div>
      <div class="back">
        <iframe  ng-src="{{getUrl('zen')}}" width="100%" height="92%"  frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
    <span class="glyphicon glyphicon-remove" ng-click="stopMusic()" ng-hide="removing"></span>
      <div class="frontFlavor coverClassic" ng-class="{'effect': 'classic' ===  selectedMusic}" ng-click="addEffect(event, 'classic', 'https://www.youtube.com/embed/ysoi7Aw-snM?autoplay=1')">
      </div>
      <div class="back">
        <iframe  ng-src="{{getUrl('classic')}}" width="100%" height="92%"  frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="flavorContainer">
    <span class="glyphicon glyphicon-remove" ng-click="stopMusic()" ng-hide="removing"></span>
      <div class="frontFlavor coverNature" ng-class="{'effect':'nature' ===  selectedMusic}" ng-click="addEffect(event, 'nature', 'https://www.youtube.com/embed/JT-Cmgm3Rp0?autoplay=1')">
      </div>
      <div class="back">
        <iframe  ng-src="{{getUrl('nature')}}" width="100%" height="92%"  frameborder="0" allowfullscreen></iframe>
      </div>
    </div>